# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environments
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Editors / OS
.DS_Store
.idea/
.vscode/
*.swp

# Logs
*.log

# Local email credentials
.env
app-password.txt
